force-app/main/default/flows/Scribe_Detect_New_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <actionCalls>
        <name>Detect_Contacts</name>
        <label>Detect New Contacts</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>Scribe_DetectNewContactsInvocable</actionName>
        <actionType>apex</actionType>
        <connector><targetReference>Map_Outputs</targetReference></connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>opportunityId</name>
            <value><elementReference>opportunityId</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>apply</name>
            <value><elementReference>apply</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>callLogId</name>
            <value><elementReference>callLogId</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>callSummary</name>
            <value><elementReference>callSummary</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>repUserId</name>
            <value><elementReference>repUserId</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>contactList</name>
            <value><elementReference>contactList</elementReference></value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Map_Outputs</name>
        <label>Map Outputs</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Detect_Contacts.success</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>applied</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Detect_Contacts.applied</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>draftCount</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Detect_Contacts.draftCount</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdCount</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Detect_Contacts.createdCount</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>summary</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Detect_Contacts.summary</elementReference></value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Scribe Detect New Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scribe Detect New Contacts</label>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector><targetReference>Detect_Contacts</targetReference></connector>
    </start>
    <status>Active</status>
    <variables>
        <name>opportunityId</name><dataType>String</dataType><isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput>
    </variables>
    <variables>
        <name>apply</name><dataType>Boolean</dataType><isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput>
    </variables>
    <variables>
        <name>callLogId</name><dataType>String</dataType><isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput>
    </variables>
    <variables>
        <name>callSummary</name><dataType>String</dataType><isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput>
    </variables>
    <variables>
        <name>repUserId</name><dataType>String</dataType><isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactList</name><dataType>String</dataType><isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name><dataType>Boolean</dataType><isCollection>false</isCollection><isInput>false</isInput><isOutput>true</isOutput>
    </variables>
    <variables>
        <name>applied</name><dataType>Boolean</dataType><isCollection>false</isCollection><isInput>false</isInput><isOutput>true</isOutput>
    </variables>
    <variables>
        <name>draftCount</name><dataType>Number</dataType><scale>0</scale><isCollection>false</isCollection><isInput>false</isInput><isOutput>true</isOutput>
    </variables>
    <variables>
        <name>createdCount</name><dataType>Number</dataType><scale>0</scale><isCollection>false</isCollection><isInput>false</isInput><isOutput>true</isOutput>
    </variables>
    <variables>
        <name>summary</name><dataType>String</dataType><isCollection>false</isCollection><isInput>false</isInput><isOutput>true</isOutput>
    </variables>
</Flow>
