force-app/main/default/flows/Scribe_Check_Stage_Requirements.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <actionCalls>
        <name>Check_Stage</name>
        <label>Check Stage Requirements</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>Scribe_CheckStageRequirementsInvocable</actionName>
        <actionType>apex</actionType>
        <connector><targetReference>Map_Outputs</targetReference></connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>opportunityId</name>
            <value><elementReference>opportunityId</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>callLogId</name>
            <value><elementReference>callLogId</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>callSummary</name>
            <value><elementReference>callSummary</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>repUserId</name>
            <value><elementReference>repUserId</elementReference></value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Map_Outputs</name>
        <label>Map Outputs</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Check_Stage.success</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>missingCount</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Check_Stage.missingCount</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tasksCreated</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Check_Stage.tasksCreated</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>summary</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Check_Stage.summary</elementReference></value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Scribe Check Stage Requirements {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scribe Check Stage Requirements</label>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector><targetReference>Check_Stage</targetReference></connector>
    </start>
    <status>Active</status>
    <variables>
        <name>opportunityId</name><dataType>String</dataType><isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput>
    </variables>
    <variables>
        <name>callLogId</name><dataType>String</dataType><isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput>
    </variables>
    <variables>
        <name>callSummary</name><dataType>String</dataType><isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput>
    </variables>
    <variables>
        <name>repUserId</name><dataType>String</dataType><isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name><dataType>Boolean</dataType><isCollection>false</isCollection><isInput>false</isInput><isOutput>true</isOutput>
    </variables>
    <variables>
        <name>missingCount</name><dataType>Number</dataType><scale>0</scale><isCollection>false</isCollection><isInput>false</isInput><isOutput>true</isOutput>
    </variables>
    <variables>
        <name>tasksCreated</name><dataType>Number</dataType><scale>0</scale><isCollection>false</isCollection><isInput>false</isInput><isOutput>true</isOutput>
    </variables>
    <variables>
        <name>summary</name><dataType>String</dataType><isCollection>false</isCollection><isInput>false</isInput><isOutput>true</isOutput>
    </variables>
</Flow>
