force-app/main/default/flows/Scribe_Log_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <actionCalls>
        <name>Log_Call</name>
        <label>Log Call</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>Scribe_LogCallInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Map_Outputs</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>callSummary</name>
            <value><elementReference>callSummary</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value><elementReference>opportunityId</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>repUserId</name>
            <value><elementReference>repUserId</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>sourceChannel</name>
            <value><elementReference>sourceChannel</elementReference></value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Map_Outputs</name>
        <label>Map Outputs</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Log_Call.success</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>callLogId</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Log_Call.callLogId</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>callLogName</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Log_Call.callLogName</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sentiment</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Log_Call.sentiment</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lowConfidence</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Log_Call.lowConfidence</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>summary</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Log_Call.summary</elementReference></value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Scribe Log Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scribe Log Call</label>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector><targetReference>Log_Call</targetReference></connector>
    </start>
    <status>Active</status>
    <variables>
        <name>callSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>repUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sourceChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>callLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>callLogName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sentiment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lowConfidence</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>summary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
