force-app/main/default/flows/Scribe_Update_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <actionCalls>
        <name>Update_Opp</name>
        <label>Update Opportunity</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>Scribe_UpdateOpportunityInvocable</actionName>
        <actionType>apex</actionType>
        <connector><targetReference>Map_Outputs</targetReference></connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>opportunityId</name>
            <value><elementReference>opportunityId</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>apply</name>
            <value><elementReference>apply</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>callLogId</name>
            <value><elementReference>callLogId</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>repUserId</name>
            <value><elementReference>repUserId</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>newStage</name>
            <value><elementReference>newStage</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>newCloseDate</name>
            <value><elementReference>newCloseDate</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>newAmount</name>
            <value><elementReference>newAmount</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>newNextStep</name>
            <value><elementReference>newNextStep</elementReference></value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Map_Outputs</name>
        <label>Map Outputs</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Update_Opp.success</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>applied</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Update_Opp.applied</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>summary</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Update_Opp.summary</elementReference></value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Scribe Update Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scribe Update Opportunity</label>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector><targetReference>Update_Opp</targetReference></connector>
    </start>
    <status>Active</status>
    <variables>
        <name>opportunityId</name><dataType>String</dataType><isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput>
    </variables>
    <variables>
        <name>apply</name><dataType>Boolean</dataType><isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput>
    </variables>
    <variables>
        <name>callLogId</name><dataType>String</dataType><isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput>
    </variables>
    <variables>
        <name>repUserId</name><dataType>String</dataType><isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newStage</name><dataType>String</dataType><isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newCloseDate</name><dataType>String</dataType><isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newAmount</name><dataType>String</dataType><isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newNextStep</name><dataType>String</dataType><isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name><dataType>Boolean</dataType><isCollection>false</isCollection><isInput>false</isInput><isOutput>true</isOutput>
    </variables>
    <variables>
        <name>applied</name><dataType>Boolean</dataType><isCollection>false</isCollection><isInput>false</isInput><isOutput>true</isOutput>
    </variables>
    <variables>
        <name>summary</name><dataType>String</dataType><isCollection>false</isCollection><isInput>false</isInput><isOutput>true</isOutput>
    </variables>
</Flow>
