force-app/main/default/flows/Scribe_Create_Followup_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <actionCalls>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>Scribe_CreateTasksInvocable</actionName>
        <actionType>apex</actionType>
        <connector><targetReference>Map_Outputs</targetReference></connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>opportunityId</name>
            <value><elementReference>opportunityId</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>callLogId</name>
            <value><elementReference>callLogId</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>callSummary</name>
            <value><elementReference>callSummary</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>repUserId</name>
            <value><elementReference>repUserId</elementReference></value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Map_Outputs</name>
        <label>Map Outputs</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Create_Tasks.success</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskCount</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Create_Tasks.taskCount</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>summary</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Create_Tasks.summary</elementReference></value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Scribe Create Follow-up Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scribe Create Follow-up Tasks</label>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector><targetReference>Create_Tasks</targetReference></connector>
    </start>
    <status>Active</status>
    <variables>
        <name>opportunityId</name><dataType>String</dataType><isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput>
    </variables>
    <variables>
        <name>callLogId</name><dataType>String</dataType><isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput>
    </variables>
    <variables>
        <name>callSummary</name><dataType>String</dataType><isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput>
    </variables>
    <variables>
        <name>repUserId</name><dataType>String</dataType><isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name><dataType>Boolean</dataType><isCollection>false</isCollection><isInput>false</isInput><isOutput>true</isOutput>
    </variables>
    <variables>
        <name>taskCount</name><dataType>Number</dataType><scale>0</scale><isCollection>false</isCollection><isInput>false</isInput><isOutput>true</isOutput>
    </variables>
    <variables>
        <name>summary</name><dataType>String</dataType><isCollection>false</isCollection><isInput>false</isInput><isOutput>true</isOutput>
    </variables>
</Flow>
